body {
    background-color: #000000;
}

a {
    width: 250px;
    display: block;
    text-decoration: none;
    color: #bab9b8;
    padding: 16px 8px;
    background: linear-gradient(to right ,#3c0541 0%, #05435f 50%, #3c0541 100%);
    font-size:  25px;
}
p {
    font-size: 25px;
    color: #ffffff;
    display: inline-block;
    margin: 50px;
    border: 3px solid #bab9b8;
    padding: 10px 80px;
}